[submodule "Frontend/frontend"]
	path = Frontend/frontend
	url = https://github.com/Mart6110/frontend
	branch = main
[submodule "Backend/sandbattery-backend"]
	path = Backend/sandbattery-backend
	url = https://github.com/GoosLife/sandbattery-backend
	branch = master
